<h2 class="formPadding">
  Planets
</h2>

<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
  </ng-container>

  <ng-container matColumnDef="diameter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Diameter </th>
    <td mat-cell *matCellDef="let row"> {{row.diameter}} </td>
  </ng-container>

  <ng-container matColumnDef="climate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Climate </th>
    <td mat-cell *matCellDef="let row"> {{row.climate}} </td>
  </ng-container>

  <ng-container matColumnDef="gravity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gravity </th>
    <td mat-cell *matCellDef="let row"> {{row.gravity}} </td>
  </ng-container>

  <ng-container matColumnDef="population">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Population </th>
    <td mat-cell *matCellDef="let row"> {{row.population}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
    <td mat-cell *matCellDef="let row"> {{row.created}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>