
<h2 class="formPadding">
  Contact Form
</h2>
    <form >
          <mat-form-field class="formInputs">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your Name here">
          </mat-form-field>

            <mat-form-field class="formInputs">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter your Email here">
            </mat-form-field>

    
          <mat-form-field class="formInputs">
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Enter your question here"></textarea>
          </mat-form-field>

        <div class="formPadding">
          <button mat-raised-button color="primary" id="sendButton">Send</button>
        </div>

      
     
      </form>
      