/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.formInputs{
    width: 55%;
    padding-left: 1%;
}

.formPadding{
    padding-left: 1%;
}

#sendButton{
    width: 20%;
}

.example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-card{
    background: aliceblue;
    width: 80%;
    min-height: 60%;
    margin-top: 4%;
    margin-left: 8%;
  }

  .loginInputs{
    margin-left: 5%;
  }
  
  .custom-modalbox {
    mat-dialog-container {
        padding: 0;
    }
}

.matDialogActions{
    margin-bottom: 0px !important;
    padding-left: 35% !important;
}

.formPadding2{
    padding-left: 40%;
}

.carousel{
    margin-left: 15%;
    margin-right: 15%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
